.selectContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
  // border: 1px solid rgb(0, 0, 0);

  .label {
    color: var(--text-color);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30px;
    width: 100px;
  }

  .select {
    outline: none;
    border-radius: 10px;
    height: 24px;
    width: 136px;
    text-align: center;
    color: var(--text-color);
    background-color: transparent;
    border-color: var(--text-color);
  }
}